.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #C7A17A 0%, #E2B07A 100%);
  
  .loading-spinner {
    color: white;
  }
} 